 /* Extra small devices (portrait phones, less than 576px) */
 
 @media (max-width: 575.98px) {
     /* header part stat */
     .header-part {
         padding: 10px 0px;
     }
     /* header part end */
     /* slider/banner part start */
     .inspire {
         padding: 0px 90px;
     }
     .inspire h1 {
         font-size: 23px;
         text-align: center;
         margin-top: -5px;
     }
     .inspire h3 {
         font-size: 14px;
         line-height: 20px;
         padding: 5px 44px;
         text-align: center;
     }
     .inspire p {
         font-size: 12px;
         line-height: 20px;
         padding: 0px 14px;
         text-align: center;
     }
     .inspire ul {
         margin-left: 100px;
     }
     .inspire ul li i {
         font-size: 25px;
         padding: 10px 6px;
     }
     .slider-img img {
         padding: 0px 18px;
         width: 35%;
         margin-left: 173px;
     }
     .carousel-indicators {
         bottom: -58px;
     }
     /* slider/banner part end */
     /*  features & service part start  */
     .features {
         padding: 35px 0px;
     }
     .service {
         text-align: center;
     }
     .features-titel h2 {
         font-size: 23px;
     }
     .features-titel p {
         padding: 0px 40px;
         font-size: 14px;
     }
     .our-service {
         padding-top: 0px;
     }
     .icon i {
         font-size: 32px;
     }
     .icon-content h1 {
         font-size: 16px;
         padding: 8px 0px;
         margin-bottom: 0px;
     }
     .icon-content p {
         padding: 0px 80px;
         font-size: 12px;
     }
     /*  features & service part end  */
     /* contect part start */
     .contect {
         padding: 28px 0px;
     }
     .contect-titel h1 {
         font-size: 23px;
     }
     .contect-titel p {
         font-size: 14px;
         padding: 0px 48px;
     }
     .coustom-size {
         padding: 0px 100px;
     }
     .my-input input {
         padding: 18px 25px;
     }
     .my-button button {
         padding: 8px 20px;
         margin-left: 120px;
     }
     /* Its for social icon */
     .social-media ul li i {
         font-size: 28px;
     }
     .social-media ul {
         padding-top: 30px;
     }
     /* contect part end */
     /* footer area start */
     .footer-area address {
         font-size: 12px;
     }
     .footer-area ul li a {
         font-size: 12px;
     }
     /* footer area end */
 }
 /* Small devices (landscape phones, 576px and up) */
 
 @media (min-width: 576px) and (max-width: 767.98px) {
     /* silder paet start */
     .inspire {
         padding: 0px 85px;
     }
     .inspire h1 {
         font-size: 25px;
         text-align: center;
     }
     .inspire h3 {
         font-size: 18px;
         padding: 10px 0px;
         text-align: center;
     }
     .inspire p {
         font-size: 12px;
         line-height: 22px;
         text-align: center;
     }
     .inspire ul li i {
         font-size: 38px;
         padding: 20px 10px;
     }
     .inspire ul {
         margin-left: 72px;
     }
     .slider-img img {
         padding: 0px 18px;
         width: 45%;
         margin-left: 141px;
     }
     .carousel-indicators {
         bottom: -57px;
     }
     /* silder paet end */
     /*  features & service part start  */
     .features {
         padding: 45px 0px;
     }
     .service {
         text-align: center;
     }
     .features-titel h2 {
         font-size: 25px;
     }
     .features-titel p {
         font-size: 18px;
     }
     .our-service {
         padding-top: 20px;
     }
     .icon i {
         font-size: 40px;
     }
     .icon-content h1 {
         font-size: 18px;
         padding: 14px 0px;
     }
     .icon-content p {
         padding: 0px 48px;
         font-size: 14px;
     }
     /*  features & service part end  */
     /* contect part start */
     .contect {
         padding: 50px 0px;
     }
     .contect-titel h1 {
         font-size: 25px;
     }
     .contect-titel p {
         font-size: 18px;
     }
     .coustom-size {
         padding: 20px 60px;
     }
     .my-button button {
         margin-left: 120px;
     }
     /* social icon style */
     .social-media ul {
         padding-top: 25px;
     }
     /* contect part end */
     /* footer area start */
     .footer-area address {
         font-size: 12px;
     }
     .footer-area ul li a {
         font-size: 12px;
     }
     /* footer area end */
 }
 /* Medium devices (tablets, 768px and up) */
 
 @media (min-width: 768px) and (max-width: 991.98px) {
     /* slider/banner part start */
     .inspire {
         padding: 0px 20px;
     }
     .inspire h1 {
         text-align: center;
     }
     .inspire h3 {
         padding: 15px 127px;
         text-align: center;
     }
     .inspire p {
         padding: 0px 102px;
         text-align: center;
     }
     .inspire ul {
         margin-left: 206px;
     }
     .inspire ul li i {
         padding: 35px 15px;
     }
     .slider-img img {
         padding: 0px 46px;
         width: 55%;
         margin-left: 164px;
     }
     .carousel-indicators {
         bottom: -55px;
     }
     /* slider/banner part end */
     /*  features & service part start  */
     .icon-content h1 {
         font-size: 18px;
     }
     /*  features & service part end  */
     /* contect part start */
     .my-button button {
         padding: 16px 36px;
     }
     /* contect part end */
 }
 /* Large devices (desktops, 992px and up) */
 
 @media (min-width: 992px) and (max-width: 1199.98px) {}
 /* Extra large devices (large desktops, 1200px and up) */
 
 @media (min-width: 1200px) {}