body {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}


/* header-part start */

.header-part {
    background: #FCDB00;
    padding: 20px 0px;
}

.manu ul li a {
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: #010101 !important;
}

.manu ul li {
    padding: 0px 30px;
}


/* header-part end */


/* slider/banner part start */

.slider-part {
    padding: 50px 0px;
    background: #FCDB00;
}

.inspire {
    padding: 70px 20px;
}

.inspire h1 {
    font-family: 'PT Sans', sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: #010101;
}

.inspire h3 {
    color: #313841;
    font-size: 22px;
    font-family: 'PT Sans', regular;
    line-height: 25px;
    padding: 25px 0px;
}

.inspire p {
    color: #555555;
    font-size: 16px;
    line-height: 25px;
}

.inspire ul li i {
    font-size: 45px;
    color: #010101;
    padding: 45px 15px;
}

.slider-img img {
    padding: 0px 15px;
    width: 85%;
}

.carousel-indicators li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.carousel-indicators li:hover {
    background-color: #010101;
}

.carousel-indicators>.active {
    background-color: #010101;
}

.carousel-indicators {
    bottom: -33px;
}


/* slider/banner part end */


/*  features & service part start  */

.features {
    padding: 120px 0px;
}

.features-titel h2 {
    font-family: 'PT Sans', sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: #010101;
}

.features-titel p {
    color: #313841;
    padding: 0px 32px;
    font-size: 22px;
}


/* service part start */

.our-service {
    padding-top: 100px;
}


/* icon style */

.icon i {
    font-size: 45px;
}


/* icon-content style */

.icon-content h1 {
    font-size: 22px;
    font-family: 'PT Sans', regular;
    color: #010101;
    padding: 0px 28px;
    padding-bottom: 20px;
}

.icon-content p {
    padding: 0px 28px;
    color: #898989;
    font-size: 16px;
    font-family: 'PT Sans', regular;
}


/* service part end */


/*  features & service part end  */


/* contect part start */

.contect {
    padding: 100px 0px;
    background: #010101;
}

.contect-titel h1 {
    color: #fcdb00;
    font-size: 32px;
    font-weight: 700;
    font-family: 'PT Sans', sans-serif;
}

.contect-titel p {
    color: #898989;
    font-size: 20px;
    padding: 0px 44px;
    font-family: 'PT Sans', sans-serif;
}


/* Its for form part */

.coustom-size {
    padding: 45px 56px;
}

.my-input input {
    padding: 25px 28px;
    color: #898989;
}

.my-button button {
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    padding: 16px 55px;
    color: #010101;
    background-color: #fcdb00;
}


/* social icon style */

.social-media ul {
    padding-top: 80px;
}

.social-media ul li {
    background: #fcdb00;
    width: 50px;
    border-radius: 5px;
}

.social-media ul li i {
    font-size: 35px;
    color: #010101;
}

.list-inline-item:not(:last-child) {
    margin-right: 1.5rem;
}


/* contect part end */


/* footer-area start */

.footer-area {
    padding: 0px 0px 170px 150px;
    background: #010101;
}

.footer-area address {
    color: #ffffff;
}

.footer-area ul li a {
    color: #ffffff;
}


/* footer-area end */


/* font-family: 'PT Sans', sans-serif; */